# Système d'exploitation
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Dépendances et builds
node_modules/
dist/
build/
_site/

# Fichiers de configuration locaux
.env
.env.local
*.log 